body {
    padding: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS-D6AS7tb8d4BFcJDDF3BPUe_1cQ1xRAnYA&usqp=CAU");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.first {
    padding: 3px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(211, 208, 208);
    border-radius: 5px;
}
.buttons {
    padding-left: 38.5%;
}
table {
    border-radius: 5px;
    border-style: none;
    background-color:none;
}
.buttons button {
    padding: 5px;
    color: white;
    background-color: blue;
    border-style: none;
    border-radius: 5px;
}
.buttons p {
    display: inline;
}
table input {
    color: black;
    text-align: center;
    border-radius: 5px;
    width: 50px;
    background-color: rgb(211, 208, 208);
    border-style: none;
}